.transactionsContainer{
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.transactionsContainer table{
  border-spacing: 5px 7px;
  text-align: center;
  min-width: 350px;
}

.filterField form, .filtercash{
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
}

.filterFormButtons{
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.filterButton, .resetButton{
  padding: 5px;
  background-color: #262626;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
}

.filterButton{
  flex: 1;
  /* padding: 10px; */
}

.filterButton:hover{
  background-color: #202020;
  cursor: pointer;
}

.resetButton{
  background-color: rgba(255, 0, 0, 0.466);
}

.resetButton:hover{
  background-color: rgba(255, 0, 0, 0.336);
}